body {
    margin: 0;
}
.container {
    display: flex;
    height: 100vh;
    background-color: #EFF6FF;
 
}
.left {
    width: 55%;
}
.left-img {
width: 100%;
height: 100%;
object-fit: cover;
}
.right {
    width: 45%;
    padding: 40px;
}
.right p {
    color:#2A4A5C ;
    font-weight: bold;
}
button {
    width: 40%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
}
.fb {
    background-color:#255A9B;
    color: white;
    margin: 0px;
    padding-bottom: 15px;
}
.in {
    background-color:#0076B6;
    color: white;
    margin: 0px;
    padding-bottom: 15px;
}
input[type="email"] {
    padding: 8px;
    margin: 10px 0;
}
input[type="number"] {
    padding: 8px;
    margin: 10px 0;
}
.divider {
    text-align: center;
    margin: 20px 0;
    color: #999;
}
.investor-group {
    display: flex;
    gap: 30px;
    align-items: center;
}
investor-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    cursor: pointer;
}
.info {
    position: relative;
    display: inline-flex;
    width: 8px;
    height: 8px;
    border: 1px solid #AFAFAF;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 11px;
}
.tooltip {
    position: relative;
    bottom: 140%;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    color: #96A5B1;
    padding: 6px 8px;
    font-size: 15px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    z-index: 100;
}
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: gray;
}
.info:hover .tooltip {
    opacity: 1;
    visibility: visible;
}
h1 {
    color:#7B8A92 ;
}
 .Terms {
    color:blue;
 }
button {
    background-color: #3698FB;
    color: white;
}
h3 {
    color: #2A4A5C;
    font-size: 16px;
}