/* added */
@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  background-color: #eff6ff;
  height: 100vh; /* added */
  display: flex; /* added */
  justify-content: center; /* added */
  align-items: center; /* added */
}
.container {
  display: flex;
  width: 90%;
  height: 90%;
  /* justify-content: flex-start;
  align-items: flex-start; */
  margin: 50px;
  background-color: #ffffff;
}
.left {
  position: relative;
  z-index: 1;
  width: 55%;
}
/* added */
.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo {
  position: absolute;
  z-index: 2;
  top: 10px; /* added */
  left: 10px; /* added */
}
/* added */
.logo-image {
  width: 150px;
  height: 150px;
}
.right {
  width: 45%;
  padding: 40px;
}
.right p {
  color: #2a4a5c;
  font-weight: bold;
}
.socials {
  display: flex;
  justify-content: center;
height: 45px;
gap: 100px;
 
}
/* added */
.form-group {
  display: flex;
  gap: 10px;
}
.field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
}
.field:focus {
  outline: none;
  border-left: 3px solid #1a73e8;
}
button {
  width: 40%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
}
.fb {
  background-color: #255a9b;
  color: white;
  margin: 0px;
  padding-bottom: 15px;
}
.in {
  background-color: #0076b6;
  color: white;
  margin: 0px;
  padding-bottom: 15px;
}
.line {
  width: 100%;
  color: #96a5b1;
  display: flex;
  align-items: center;
  margin: 50px 0;
}
.line::before,
.line::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
}
.line span {
  padding: 0 10px;
  font-size: 14px;
  color: #2a4a5c;
}
input[type="email"] :focus {
  border-left: 3px solid #1a73e8;
  padding: 8px;
  margin: 10px 0;
  color: #afafaf;
}

input[type="number"] :focus {
  border-left: 3px solid #1a73e8;
  padding: 8px;
  margin: 10px 0;
  color: #afafaf;
}
.investor-group {
  display: flex;
  gap: 30px;
  align-items: center;
}
.investor-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  cursor: pointer;
}
.info {
  position: relative;
  width: 7px;
  height: 10px;
  border: 2.7px solid #afafaf;
  border-radius: 50%;
  font-size: 5px;
 
}
.tooltip {
  display: none;
  width: 200px;
  position: relative;
  top: 10px;
  left: 0px;
  background: #ffffff;
  color: #afafaf;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}
/* .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: gray;
} */
.info:hover .tooltip {
  display: block;
}
h1 {
  color: black;
}
.terms-link {
  color: blue;
  cursor: pointer;
}
button {
  background-color: #3698fb;
  color: white;
  width: 230px;
}
h3 {
  color: #96a5b1;
  font-size: 16px;
}
p {
  color: #96a5b1;
  font-size: 16px;
}
